body{
    background: url(../images/soccer1.jpg);
    width:100%;
}

.active{
    display: none;
}

#buttons-view{
    padding: 0 2%;
    margin-left: 2%;
    border-spacing: 5em;
}

.soccer{
    padding: 0 2%;
    margin: 10px;
}

h1{
    /* font-weight: bold; */
    color: white;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-left: 5%;
}

p{
    color: white;
    font-size:2em;
}


.btn{
    text-decoration-color: black;
    margin-left:5px;
}
/* .row{
    width:100%;
    float:left;
} */

#add-soccer{
    margin:17%;
}

#soccer-input{
    margin-left:5%;
}

#soccer-gifs-appear-here{
    flex-wrap: wrap;
    display: flex;
}

.columns{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.gifContainer{
    float:left;
    /* width:33%; */
    margin:1%;
    flex-wrap: wrap;

}